* {
  box-sizing: border-box;

  li {
    list-style-type: none;
  }

  .app-container {
    min-height: 100vh;
    display: grid;
  }

  body {
    header, main, footer, .container {
      margin: 0;
      padding: 15px 30px;
    }
    .name-component {
      text-align: center;
    }
  }

  header, footer {
    height: 100px;
    background: #ccc;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  main {
    min-height: calc(100vh - 200px);
  }

  footer {
    align-self: end;
  }
}
